
.entête{
    text-align: center;
    margin: 5%;
}
.vert{
    color: green;
}
.croccu{
    height: auto;
    width: 100%;
}
.coquelicot{
    height: auto;
    width: 100%;
}
.rose{
    height: auto;
    width: 100%;

}
.femme{
    height: auto;
    width: 100%;
}

